name: xdg runtime

on:
  push:
  workflow_dispatch:

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: xdg runtime dir
        run: |
          echo $XDG_RUNTIME_DIR
          ls -l /run/user/$(id -u)
          ls -l /run/user
