name: gh run id

on:
  push:
    tags:
      - "v*\+test*"
  workflow_dispatch:

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "check run id"
        run: |
          echo $GITHUB_RUN_ID
